body {
	font-family: arial;
	font-size: 12px;
	min-height: 300px;
}
#content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content ul li {
	padding: 5px 3px;
	border-bottom: 1px solid #eee;
}
#content ul li small {
	color: #ccc;
}
#content ul li.you {
	color: #aaa;
	text-align: right;
}
#content ul li.you small {
	display: none;
}
#field {
	border: 1px solid #ccc;
	padding: 5px 3px;
}
.chat-box {
	position: absolute;
	right: 10px;
	bottom: 0;
	box-shadow: 1px 1px 1px #ccc;
	background: #f9f9f9;
	padding: 10px 15px;
}
.chat-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
