!!!
html
    head
        title= "Real time web chat - HamidRaza.net"
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        h4 Connected users
        .connected-users
            ul
        .container
            .chat-box.hidden-box.new-message
                h4.chat-box-header Goup chat service
                .chat-box-wrapper
                    
                    .chat-area(style="display:none;")
                        #content(style='height: 300px; margin: 0 0 5px 0; border: solid 1px #ccc; background: #fff; overflow: auto;')
                            ul
                        
                        form.chat-controls

                            div.input-group
                                input.form-control.field#field(placeholder='Enter message...')
                                span.input-group-btn
                                    button.btn.btn-default Go!


                    form.start-chat.clearfix(role="form")
                        .form-group
                            //label(for="username") Name
                            input.form-control.username#username(placeholder="Enter your name", required)
                        div.form-group
                            //label(for="useremail") Email
                            input.useremail.form-control#useremail(placeholder="Enter your email", required, type="email")
                        button.submit.btn.btn-default.pull-right(type="submit") Start chat
                    
                    footer Source :
                        a(href='https://github.com/hamidraza/chat-nodejs-express') Github

        script(src='/socket.io/socket.io.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
        script(src='/js/chat.js')
