!!!
html
    head
        title= "Real time web chat - HamidRaza.net"
        link(rel='stylesheet', href='/css/style.css')
    body
        .chat-box(style="display:none;")
            #content(style='width: 200px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow: auto;')
                ul
            form.chat-controls
                input.field#field(style='width:150px;', placeholder='Enter message...')
                input.send#send(type='submit', value='send')
        form.start-chat
            | Your Name : 
            input.username(style='width:150px;', name='username', placeholder="enter Your Name", required)
            br
            | Your Email : 
            input.useremail(style='width:150px;', name='useremail', required, type='email', placeholder="enter Email address")
            br
            input.submit(type='submit', value='start')
        footer
            |Source : 
            a(href='https://github.com/hamidraza/chat-nodejs-express')
                |Github

        script(src='//hamidraza.net:3000/socket.io/socket.io.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/chat.js')
